body,
html {
    height: 100%;
    margin: 0;
    font-family: Proxima Nova, Arial, sans-serif;
}

.navbar-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: .5rem 1rem 0rem;
    flex-flow: row nowrap;
    justify-content: flex-start;
    height: 5rem;
}

/* Remove box that shows around buttons when clicked */
button {
    outline: none;
}

/**********Menu Icon**********/
.menuContainer {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 2.1875rem;
    height: 0.1875rem;
    background-color: black;
    margin: 0.375rem 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-0.5rem, 0.3125rem);
    transform: rotate(-45deg) translate(-0.5rem, 0.3125rem);
}

/* Shift second bar slightly left*/
.change .bar2 {
    -webkit-transform: translate(-0.0625rem, 0);
    transform: translate(-0.0625rem, 0);
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-0.5rem, -0.3125rem);
    transform: rotate(45deg) translate(-0.5rem, -0.3125rem);
}

/* Style The Dropdown Button */
.dropbtn {
    border-radius: 1.25rem;
    background-color: #7DAF5D;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10rem;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 0.75rem 1rem;
    text-decoration: none;
    display: block;
    font-size: large;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #81A165;
}

/**********Logo**********/
.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    font-family: 'Pacifico', cursive;
    font-size: xxx-large;
}

#it_you {
    font-family: 'Pacifico', cursive;
    font-size: xxx-large;
    background-color: transparent;
    border: transparent;
}

/**********Banner**********/
.banner_resources {
    z-index: 998;
    width: 100vw;
    display: flex;
    align-items: center;
    height: 2rem;
    background-color: #5D4835;
    color: white;
    font-size: xx-large;
    justify-content: center;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 0;
}

/**********Link Settings**********/
a {
    text-decoration: none;
}

a:link {
    color: #7DAF5D;
}

a:visited {
    color: #8f7351;
}

a:hover {
    color: #57863a;
}

/***********Form*************/
#user_Input {
    z-index: 998;
    width: 100%;
    display: flex;
    flex-direction: row wrap;
    align-items: flex-start;
    background-color: #CAB394;
    color: black;
    font-size: large;
    justify-content: center;
}

#input_Form {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 4fr 4fr 1fr 8fr 1fr 8fr 1fr 6fr 1fr 9fr 1fr 9fr 1fr 6fr 4fr;
    height: 5rem;
}

h2 {
    text-align: center;
    margin: 0;
    padding: 0;
}

.input1 {
    display: block;
    margin: 0.5rem;
}

#in1 {
    grid-area: 1 / 2 / 1 span / 1 span;
}

#in2 {
    grid-area: 1 / 4 / 1 span / 1 span;
}

#in3 {
    grid-area: 1 / 6 / 1 span / 1 span;
}

#time {
    grid-area: 1 / 8 / 1 span / 1 span;
}

#in5 {
    grid-area: 1 / 10 / 1 span / 1 span;
}

#in6 {
    grid-area: 1 / 12 / 1 span / 1 span;
}

#in_btn {
    grid-area: 1 / 14 / 1 span / 1 span;
}

#btn1 {
    color: black;
    background-color: #7DAF5D;
    font-size: large;
    border-radius: 1rem;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

textarea {
    height: 30%;
    resize: none;
}

/**********Page Content Settings**********/
#page_body {
    background-color: #E3E0D1;
    min-height: 100%;
}

/**********Card Settings**********/
.carousel {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0rem 1rem 1rem;
    flex-flow: row wrap;
    justify-content: space-around;
    transition: 0.3s;
    border-radius: 0.5rem;
}

.card {
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 1rem;
    background-color: honeydew;
    width: 30rem;
    height: 15rem;
    margin: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 12fr 4fr 1fr;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.548);
}

.row1 {
    grid-area: 2 / 1 / span 1 / span 1;
    display: grid;
    grid-template-columns: 1fr 2fr 12fr 3fr;
    grid-template-rows: 1fr;
}

.row2 {
    grid-area: 3 / 1 / span 1 / span 1;
    display: grid;
    grid-template-columns: 1fr 20fr 1fr 15fr 2fr;
    grid-template-rows: 1fr 10fr 1fr;
    font-size: small;
}

.row3 {
    grid-area: 4 / 1 / span 1 / span 1;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr;
}

/* Add rounded corners to the image */
img {
    grid-area: 2 / 4 / span 1 / span 1;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}

.card_type {
    grid-area: 1 / 2 / span 1 / span 1;
    font-weight: bold;
    text-decoration: underline;
    font-size: large;
}

.card_trail_name {
    grid-area: 1 / 3 / span 1 / span 1;
    text-align: center;
    font-weight: bold;
}

.card_hike_data {
    grid-area: 2 / 2 / span 1 / span 1;
    text-align: left;
    font-weight: bold;
}

.join_btn {
    grid-area: 2 / 2 / span 1 / span 1;
    border-radius: 1rem;
    background-color: #7DAF5D;
    color: rgb(185, 88, 9);
    font-weight: bold;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    border: 0.125rem #806849;
}

.join_btn:hover {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.4);
}

.update_btn {
    grid-area: 2 / 4 / span 1 / span 1;
    border-radius: 1rem;
    background-color: rgb(241, 241, 117);
    color: #806849;
    font-weight: bold;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    border: 0.125rem #806849;
}

.update_btn:hover {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.4);
}

.delete_btn {
    grid-area: 2 / 6 / span 1 / span 1;
    border-radius: 1rem;
    background-color: rgb(224, 104, 6);
    color: #427a1f;
    font-weight: bold;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    border: 0.125rem #806849;
}

.delete_btn:hover {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.4);
}

/**********Popup Form**********/
/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 1rem;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 0.5rem;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 3fr 1fr 1fr 3fr 3fr 2fr 2fr;
}

/* Full-width input fields */
.form-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btnUp {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btnUp:hover {
    opacity: 1;
}

#titlePU{
    grid-area: 1 / 1 / span 1 / span 1;
}

#pullDownTypePU_label{
    grid-area: 2 / 1 / span 1 / span 1;
}

#trailPU_label{
    grid-area: 3 / 1 / span 1 / span 1;
}

#datePU_label{
    grid-area: 4 / 1 / span 1 / span 1;
}

#timePU_label{
    grid-area: 5 / 1 / span 1 / span 1;
}

#organizerPU_label{
    grid-area: 6 / 1 / span 1 / span 1;
}

#meetPU_label{
    grid-area: 7 / 1 / span 1 / span 1;
}

#send_upd8_btn{
    grid-area: 8 / 1 / span 1 / span 1;
}

#cancel_upd8_btn{
    grid-area: 9 / 1 / span 1 / span 1;
}